@tailwind base;
@tailwind components;
@tailwind utilities;


/*
*** OTHER STYLES ***
*/

/* @import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap'); */

.font-site-sans {
    font-family: 'Work Sans', sans-serif;
}

.font-site-serif {
    font-family: 'Roboto Slab', serif;
}

.font-site-mono {
    font-family: 'Roboto Mono', monospace;
}

.bg-primary {
    background-color: #357266;
}

.bg-dark-primary {
    background-color: #1e4039;
}

.bg-light-primary {
    background-color: #53b3a0;
}

.bg-accent {
    background-color: #53dd6c;
}

.black-bg {
    background-color: #040f0f;
}

.primary-text {
    color: #040f0f;
}

.white-text {
    color: #f4f4f9;
}

.cloud-white {
    background-color: #f4f4f9;
}

.lime-text {
    color: #53dd6c;
}
.dark-green-text {
    color: #1e4039;
}

.border-grey {
    border-color: #cac4d0;
}

.navbar-gradient {
    background: linear-gradient(90deg, #357266 0%, #53dd6c 100%);
    background-blend-mode: normal;

}

#navbar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 128px;
    background: linear-gradient(90deg, #357266 0%, #53dd6c 100%);
    background-blend-mode: normal;
}

.navbar-logo {
    width: 96px;
    height: 96px;
}

.tech-icon {
    height: 72px;
    min-width: 72px;
}

.rounded-24 {
    border-radius: 24px;
}

.lit-on-bubble {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: #53dd6c;
    background-blend-mode: normal;
}

.lit-off-bubble {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: #1e4039;
    background-blend-mode: normal;
}

.icon-24 {
    width: 24px;
    height: 24px;
}

.icon-80 {
    width: 80px;
    height: 80px;
}

.big-button {
    min-width: 83px;
    min-height: 40px;
}

.square-avatar {
    width: 380px;
    height: 380px;
    object-fit: cover;
}

.avatar {
    width: 380px;
    height: 469px;
    object-fit: cover;

}

.card-image {
    width: 100%;
    height: 190px;
    object-fit: cover;

}

.job-xp-card {
    min-height: 469px;
}

.rounded-48 {
    border-radius: 48px;
}

.hw-48 {
    height: 48px;
    width: 48px;
}

.bg-pattern {
    /* background-color: #53b3a0; */
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231e4039' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}


.bg-pattern-te {
    /* background-color: #53b3a0; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231e4039' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.max-w-800 {
    max-width: 800px;
}
.max-w-360{
    max-width: 360px;
}

.w-24 {
    width: 24rem;
}
.height-480{
    height: 480px;
    object-fit: cover;
}